@font-face {
    font-family: "sofiapro-light";
    src: url('C:\Users\W10_I\Desktop\stage\Prototype-Site\fonts') 
   }

   @font-face {
    font-family: "sofiapro-bold";
    src: url(../fonts/Sofia\ Pro\ Bold\ Az.otf);
   }
   
*{
     font-family: "sofiapro-bold";
}
body{
    margin: 0em;
}
.container{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.container-bis{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.navbar{
    width: 100vw;
    height: 7vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.logo-navbar{
    z-index: 6;
    display: flex;
    width: 81vw;
    justify-content: space-around;
    align-items: center;
}
.logo-navbar img:nth-of-type(1){
    width: 17vw;
    border: 1px solid  white;
    margin: 0.1em 0 0 0em;
    margin-top: 8.5vh;
}
.nav-container{
    display: flex;
    width: 100;
}
/*---menu burger for mobile---*/
.btn-1{
    text-align: center;
    letter-spacing: 1px;
    position :relative;
    /* line-height: 55px; */
    padding: 0;
    margin-top: 0.1em;
    height: 4.8vh;
    cursor: pointer;
}
.btn-1>a{
  text-decoration: none;
  color: black;
}
.btn-1:hover {
    color: #d4b090;
    background: transparent;
    box-shadow:none;
}
.btn-1:before,
.btn-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #d4b090;
    transition:400ms ease all;
}
.btn-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-1:hover:before,
.btn-1:hover:after{
    width:100%;
    transition:1800ms ease all;
}
.btn-2{
    text-align: center;
    letter-spacing: 2px;
    padding-top: 2em;
    position :relative;
    padding: 0;
    margin-top: 0.5em;
    line-height: 55px;
    height: 4.8vh;
    cursor: pointer;
}
.btn-2>a{
    text-decoration: none;
    color: black;
}
.btn-2:hover {
    color: #d4b090;
    background: transparent;
    box-shadow:none;
}
.btn-2:before,
.btn-2:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background:#d4b090;
    transition:400ms ease all;
}
.btn-2:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-2:hover:before,
.btn-2:hover:after{
    width:100%;
    transition:800ms ease all;
}


.btn-3{
    text-align: center;
    letter-spacing: 2px;
    padding-top: 2em;
    position :relative;
    padding: 0;
    margin-top: 0.9em;
    line-height: 55px;
    height: 55px;
    cursor: pointer;
}
.btn-3>a{
    text-decoration: none;
    color: black;
}
.btn-3:hover {
    color: #d4b090;
    background: transparent;
    box-shadow:none;
}
.btn-3:before,
.btn-3:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #d4b090;
    transition:400ms ease all;
}
.btn-3:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-3:hover:before,
.btn-3:hover:after{
    width:100%;
    transition:800ms ease all;
}


.btn-4{
    text-align: center;
    letter-spacing: 2px;
    position :relative;
    padding: 0;
    line-height: 55px;
    height: 55px;
    cursor: pointer;
    margin-top: 0.2em;
}
.btn-4>a{
    text-decoration: none;
    color: black;
}
.btn-4:hover {
    color: #d4b090;
    background: transparent;
    box-shadow:none;
}
.btn-4:before,
.btn-4:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #d4b090;
    transition:400ms ease all;
}
.btn-4:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-4:hover:before,
.btn-4:hover:after{
    width:100%;
    transition:800ms ease all;
}
.btn-modif{
    margin-top: 2em;
    display: flex;
    align-items: center;
}
.btn-main{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 8vh;
    align-items: center;
}
.btn-5 {
    position: relative;
    color:#cba787;
    border: none;
    z-index: 2;
    background-color: #010101;
    width: 163px;
    height: 55px;
    font-size: 15px;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    border: 1px solid;
    z-index: -1;
    transition: all 0.3s ease;
  }
  .btn-5:before{
     top: 0;
     left: 0;
     border-bottom-color: transparent;
     border-right-color: transparent;
     border-top-color: #cba787;
     border-left-color:#cba787;
  }
  .btn-5:after{
     bottom: 0;
     right: 0;
     border-top-color: transparent;
     border-left-color: transparent;
     border-bottom-color:#cba787;
     border-right-color:#cba787;
  }
  .btn-5:hover:before,
  .btn-5:hover:after {
    border-color:#cba787;
    height: 100%;
    width: 100%;
  }
.burger{
    z-index: 5;
    /*display: flex;
    justify-content: flex-end;
    align-items: flex-end;*/
  }
  
  .bar1, .bar3{
      width: 6vw;
      height: 3px;
      background-color: black;
      margin-top: 0.6vh;
  }
  .bar2{
    background-color: #CFB192;
    width: 6vw;
    height: 3px;
    margin-top: 0.5vh;
  }

  .show{
    top: 0;
  }
  aside{
    display: block;
    transition: 0.75s;
    position: absolute;
    height: 150%;
    width: 100vw;
    background-color: white;
    z-index: 4;
    top: -150%;
  }
  
  
  .bar1.triggered{
    animation: toptriggered 0.25s forwards;
  }
  .bar2.triggered{
    animation: middletriggered 0.25s forwards;
  }
  .bar3.triggered{
    animation: bottomtriggered 0.25s forwards;
  }
  .bar1.untriggered{
    animation: topuntriggered 0.25s forwards;
  }
  .bar2.untriggered{
    animation: middleuntriggered 0.25s forwards;
  }
  .bar3.untriggered{
    animation: bottomuntriggered 0.25s forwards;
  }
  @keyframes toptriggered {
    from {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(1vh) rotate(0);
    }
    to {
      transform: translateY(1vh) rotate(45deg);
    }
  }
  @keyframes middletriggered {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  
    to {
      opacity: 0;
    }
  }
  @keyframes bottomtriggered {
    from {
      transform: translateY(0)  rotate(0);
    }
  
    50% {
      transform: translateY(-1vh) rotate(0);
    }
    to {
      transform: translateY(-1vh) rotate(-45deg);
    }
  }
  @keyframes topuntriggered {
    from {
      transform: translateY(1vh) rotate(45deg);
    }
    50% {
      transform: translateY(1vh) rotate(0);
    }
    to {
      transform: translateY(0vh) rotate(0);
    }
  }
  @keyframes middleuntriggered {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes bottomuntriggered {
    from {
      transform: translateY(-1vh)  rotate(-45deg);
    }
  
    50% {
      transform: translateY(-1vh) rotate(0);
    }
    to {
      transform: translateY(0) rotate(0);
    }
  }
  aside .btn {
    align-items: center;
    justify-content: center;
    font-size: 5vh;
  }
  aside .btn-1{
    margin-top: 30vh;
  }
  aside .rs-logo {
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    margin-top: 24vh;
  }
  .main .btn{
  }
  
/*-----End of menu burger-----*/

/*---Logo---*/
  .rs-logo{
    margin-top: 0.5em;
    /* align-items: center; */
  }
  .fa-brands{
 
  }
/*---End of logo---*/

/*.space{
    border: solid 1px ;
    width: 0.1vw;
    margin-left: 10em; 
    margin-top: 0.5em;
    color: black;
    height: 4vh;
    position: absolute;
}
*/
.content{
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.title{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 95vw;
}
.title ul{
    color: white;
    margin-top: 4em;
    font-size: 4vh;
    padding: 0;
    text-align-last: center;
}
.title li{
    list-style-type: none;
}
.title p{
    margin: 0.3em;
}
.space-horizontal{
    border: 1px solid  #eeeded;
    width: 25vw;
}
    /*------PARAGRAPH------*/
.first-paragraph{
  margin-top: 2em;
}
.first-paragraph p{
  margin: 0.3em;
}
.first-paragraph li{
    list-style-type: none;
    color: white;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    padding: 0;
}
.first-paragraph ul{
    padding: 0;
}
.second-paragraph p{
  margin: 0.3em;
}
.second-paragraph li{
  color: white;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.second-paragraph ul{
  padding: 0;
}
.third-paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 3%;
    margin-top: 6em;
}
.third-paragraph p{
  margin: 0.2em;
}
.third-paragraph li{
  color: white;
  list-style-type: none;
  padding: 0;
  font-size: 1.875em;
}
.third-paragraph ul{
  padding: 0;
}
.fourth-paragraph{
    width: 100%;
    display: contents;
}
.fourth-paragraph p{
  margin: 0.3em;
  color: white;
}
.fourth-paragraph li{
  padding: 0;
  list-style-type: none;
}
.fourth-paragraph ul{
  padding: 0;
}
.fifth-paragraph{
    width: 100%;
    display: contents;
}
.fifth-paragraph p{
  margin: 0.3em;
}
.fifth-paragraph li{
  color: white;
  list-style-type: none;
  padding: 0;
}
.fifth-paragraph ul{
  padding: 0;
}
.sixth-paragraph{
  width: 100vw;
  height: 48vh;
}
.top-p{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-p ul{
  font-size: 1.7em; 
}
.top-p li{
   color: #D5B08E;  
}
.top-p2{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-p2 ul{
    font-size: 1.7em; 
  }
  .top-p2 li{
     color: #D5B08E;  
  }
.mid-p{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mid-p ul{
    font-size: 1.7em; 
  }
  .mid-p li{
     color: #D5B08E;  
  }
.mid-p2{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid-p2 ul{
  font-size: 1.7em; 
}
.mid-p2 li{
   color: #D5B08E;  
}
.bottom-p{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-p ul{
  font-size: 1.7em; 
}
.bottom-p li{
   color: #D5B08E;  
}
/*------END OF PARAGRAPH------*/
.A-picture{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.A-picture  img:nth-of-type(1) {
    width: 100%;
    margin-top: 1em;
    object-fit: cover;
    object-position: right;
}

.bottombar{
    color: white;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
    background-color: black;
}
.bottombar li{
    list-style-type: none;
    margin-top: 1em;
    font-size: 100%;
    width: 49vw;
    text-align: center;
}

.bottombar ul{  
    padding: 0;
}
.bottombar-main{
    background-color: black;
    display: flex;
}   
.bottombar p{
  margin: 0;
}
.rs-logo{
    display: flex;
    justify-content: end;
}
.rs-logo svg{
    width: 14vw;
    margin-left: 0.4em;
    margin-right: 0.5em;
}
 .rs-logo a{
    color:#eeeded;
 }
 .test{
  display: flex;
  align-items: center;
  justify-content: end;
 }
 /*ghost class for a better site lmao*/
 .vide{
    width: 6vw;
 }
.arrow{
  height: 0.1em;
  width: 3.5em;
  background: #CFB192;
  transition: all 0.2s;
  rotate: 90deg;
  margin-top: 6em;
 }
.arrow::before, .arrow::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  height: 0.1em;
  width: 0.6em;
  background: #CFB192;
 }

.arrow::before {
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.arrow::after {
  transform: rotate(-45deg);
  transform-origin: right top;
}
 /*end of ghost class*/
 @media(min-width:800px){

 }

 